body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

#__next {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
}

h1,
h2 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 3rem;
  margin: 5rem 0;
}

h2 {
  min-width: 18rem;
  font-size: 2rem;
  opacity: 0.3;
}

div {
  margin: 20px;
}

a {
  text-decoration: none;
  margin: 20px;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

footer {
  background: antiquewhite;
  width: 100vw;
  padding: 3rem 0;
}
